# Build outputs
snapshot
*.n
*.js
*.swf
*.cpp/
*.cs/
test/bin
test/test_flixel
# nxscript-vsext/
*.nxb
out/
docs/
doc.xml
*.ignore/
# IDE
.vscode/
.idea/
export/
node_modules/
*vsix
# Haxe
.haxelib/

# Test results
test_results/

# Temporary files
*.log
log.log
