# Logs
*.log
log.log
test_results/

# Compiled files and binaries
snapshot
*.n
*.nxb
*.js
*.swf

# Source and build directories
out/
export/
test/bin
test/test_flixel

# Documentation
docs/
doc.xml

# IDE and editor folders
.vscode/
.idea/

# Node modules
node_modules/

# Haxe libraries
.haxelib/

# Miscellaneous
*.ignore/
*vsix

# Unusual patterns 
*.cpp/
*.cs/
